.c-movie-row {
  padding: 40px 0 40px 40px;
}

.c-movie-row__title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 20px;
}

.c-movie-row__container {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}

@media (max-width: 480px) {
  .c-movie-row__title {
    font-size: 30px;
  }
}